<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Header" />
<f:spaceless>
    <f:section name="Main">
        <f:if condition="{data.header_link}">
            <f:then>
                <f:link.typolink parameter="{data.header_link}" class="boxlink">
                    <f:render section="imageWithOverlay" arguments="{_all}" />
                </f:link.typolink>
            </f:then>
            <f:else>
                <f:render section="imageWithOverlay" arguments="{_all}" />
            </f:else>
        </f:if>
    </f:section>
</f:spaceless>

<f:section name="imageWithOverlay">
    <f:variable name="boxColor">{data.ku_color_family}</f:variable>
    <f:variable name="imgExists">{f:if(condition: '{files.0}', else:'no-img', then:'with-img')}</f:variable>
    <div class="image-with-overlay {imgExists}">
        <f:if condition="{files.0}">
            <f:then>
                <f:image class="img-fluid" image="{files.0}" />
            </f:then>
        </f:if>
        <div class="image-with-overlay-textposition">
            <div class="image-with-overlay-box {boxColor}">
                <h2 class="image-with-overlay-text"><span>{data.header}</span></h2>
                <f:comment>
                    <f:format.html>{data.bodytext}</f:format.html>
                </f:comment>
            </div>
        </div>
    </div>
</f:section>